[submodule "bash_it"]
	path = bash_it
	url = https://github.com/Bash-it/bash-it.git
[submodule "vim/pack/dist/start/python-mode"]
	path = vim/pack/dist/start/python-mode
	url = https://github.com/python-mode/python-mode
